$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-grey:#EAEDF0;
$color-white:white;
$color-black1:#2C2C2C ;
$color-grey2:#F9F9F9 ;
$dishes-shadow:#A9AAAB;
$color-news:#07815E;

