
.header-home
{
  
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    

    &_logo{
       width:auto;
       text-align:center;
       margin:10px 0px 0px 10px;
       padding:20px 0px 10px 0px ;
       height:auto;

       & img{

         @include tab-only{      
              height:50px;
         }  

         @include mobile-only{
             height:35px;
         }
       } 
    }

    &_localisation{
        display:flex;
        width:100%;
        height:auto;
        text-align:center;
        background:$color-fourth;
        color:$color-sixth;
        font-weight:bold;
        text-decoration:none;
        justify-content:center;
        align-items:center;
        font-size:1.5em;
          @include mobile-only{
             font-size:1.3em;
         }


        & i{
            margin-right:20px;
            margin-bottom:5px
        }
    }
}

/*titre acceuil*/

.home-introduction
{
    width:100%;
    height:auto;
    text-align:center;
    background:$color-seventh;
    padding:30px 0px 30px 0px;

    @include mobile-only{
             display:flex;
             flex-direction:column;
             align-items:center;
             width:100%;
         };

    @include tab-only{      
            width:100%;
         }; 

    
    & h2 {
        font-size:1.3em;
        font-weight:normal;
        opacity:0.7;
        margin:-20px 0px 40px 0px ;
         @include mobile-only{
             font-size:1em
         }
    };

    & h1 
    {
        font-size:2em;
        @include mobile-only{
             font-size:1.5em;
             width:70%;
         }
    };

}