@keyframes heart{
    0%{
     
    };

    100%{
         background:-webkit-linear-gradient($color-primary,$color-secondary);
            -webkit-background-clip: text ;
            -webkit-text-fill-color: transparent; 
            color:$color-primary;
    }

}


@keyframes bienvenue{
    0%{
         background:-webkit-linear-gradient(350deg,$color-primary,$color-secondary);
            -webkit-background-clip: text ;
            -webkit-text-fill-color: transparent; 
            color:$color-primary;
    }

   
    100%{
         background:-webkit-linear-gradient(300deg,$color-tertiary,$color-primary);
            -webkit-background-clip: text ;
            -webkit-text-fill-color: transparent; 
            color:$color-primary;
    }
}