$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-fourth:#EAEDF0;
$color-fifth:white;
$color-sixth:#2C2C2C ;
$color-seventh:#F9F9F9 ;
$color-eighth:#A9AAAB ;
$color-news:#07815E;

