.footer
{
    width:100%;
    background:$color-sixth;
    display:flex;
    flex-direction:column;
    padding:0px 0px 40px 0px;
     @include tab-only{      
            width:100%
         }  
    @include mobile-only{
       width:100%;
       }    

    &_title{
        color:$color-fifth;
        font-size:2em;
        margin-bottom:20px;
        font-family:'shrikhand';
        width:auto;
        margin-left:40px;

       @include mobile-only{
       margin-left:40px;
       width:auto;
       }
    }

    &_element{
        color:$color-fifth;
        text-decoration:none;
        display:flex;
        align-items:center;
        height:30px;
        font-size:1em;
        width:auto;
        margin-left:40px;

        
        @include mobile-only{
          margin-left:40px;
          width:auto;
       }
        

        & i{
             margin-right:12px;
        }

    }

}

.footer_element1 i 
{
    margin-right:18px;
}

.menu-footer{

   @include tab-only{
        width:100%;
        margin:auto;
    }

    @include mobile-only{
       padding:0px;
       margin:0px;
       width:100%;
       padding-bottom:40px;
    }
}