
.menu-section_component_transition
{
    transition:1s ease;
    width:0px;
    margin:0px;
    &_icone{
      opacity:0;
      color:$color-fifth;
      
    }
}

.menu-section_component_dishes{
        
     &:hover > .menu-section_component_dishes_title .menu-section_component_dishes_description .element_description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width:190px;
    }
    
    &:hover > .menu-section_component_transition{
        background:$color-tertiary;
        border-radius:0px 15px 15px 0px;
        height:100%;
        width:30%;
        display:flex;
        align-items:center;
        justify-content:center;
        transition:1s ease;
    } 
    
     &:hover > .menu-section_component_transition .menu-section_component_transition_icone {
       transform:rotate(360deg);
       transition:750ms ease;
       color:$color-fifth;
       opacity:1;
       font-size:1.2em;
    }
}


.entrees .menu-section_component_dishes{
   animation: dishes 600ms
}


.plats .menu-section_component_dishes{
   animation: dishes 700ms
}

.desserts .menu-section_component_dishes{
    animation: dishes 800ms
}

@keyframes dishes {
  0%   {
    margin-bottom:999px;
                
}
 
  100% {
        margin-bottom:0px;
  }
}
