.menu-section{
    width:100%;

&_title{
      margin:20px 0px 0px 20px;
      width:90%;
      display:flex;
      justify-content:space-between;
      align-items:center;
      font-size:1.5em;
    };

&_component_bloc{
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    width:100%;
    @include tab-only{
     display:flex;
     flex-direction:column;
    }

     @include mobile-only{
        width:100%;
        margin:0px;
        };


   };

}


.menu_heart_icone
{
        -webkit-text-stroke: 1.3px black;
        color:$color-seventh;
        font-size:1.2em;
        margin:0px 25px 0px 0px; 
        cursor:pointer;
        
        &:hover{
            -webkit-text-stroke: 1.3px $color-primary;
            display: block;
            animation:heart 1s ease both
        }
}



.bloc-menu{
    width:100%;
    background:$color-seventh;
    box-shadow:0px 10px 10px $color-sixth;
    border-radius:60px 60px 0px 0px ;
    position:relative;
    margin-top:-14%;
    padding:20px 0px 100px 0px ;
    height:auto;

    @include tab-only{
       position:relative;
    }
}