.menu-section_component{
    width:auto;
    height:auto;
    margin-bottom:20px;
    
    @include mobile-only{
        width:90%;
        margin-left:20px
        };
    
    &_title{
        color:$color-sixth;
        border-bottom:3px solid $color-tertiary;
        width:30px;
    };

    &_dishes{
       width:350px;
       height:70px;
       display:flex;
       border-radius:15px;
       background:$color-fifth;
       box-shadow:5px 5px 5px $color-eighth;
       margin:15px 0px 0px 0px ;
       cursor:pointer;
        

       @include mobile-only{
        width:100%;
        };

        &_title{
            display:flex;
            flex-direction:column;
            height:100%;
            width:100%;
            margin-left:10px ;
            font-weight:bold;
        }

        &_description{
            display:flex;
            justify-content:space-between;
            width:100%;
            margin:5px 0px 0px 0px;
            color:$color-sixth;
            white-space: nowrap;
            font-weight:normal;
        }

        &_price{
            font-weight:bold;
            margin-right:20px;
        }
    }
}


.element_description{
     white-space: nowrap;
     overflow: hidden;
    text-overflow: ellipsis;
    width:90%;
}

