.menu-section_component{
    width:100%;
    height:auto;
    margin-bottom:25px;
    
    @include mobile-only{
        width:100%;
        };
    
    &_title{
        color:$color-sixth;
        border-bottom:3px solid $color-tertiary;
        width:30px;
        font-size:1.3em;
        margin-left:20px;
    };

    &_dishes{
       width:95%;
       height:80px;
       display:flex;
       border-radius:20px;
       background:$color-fifth;
       box-shadow:5px 5px 5px $color-eighth;
       margin:20px 0px 20px 0px ;
       margin-left:auto;
       margin-right:auto;
       padding-left:10px;
       cursor:pointer;
        
       @include mobile-only{
        width:87%;
        };

        &_title{
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            height:auto;
            width:100%;
            font-weight:bold;
        }

        &_description{
            display:flex;
            justify-content:space-between;
            width:auto;
            color:$color-sixth;
            font-weight:normal;
        }

        &_price{
            font-weight:bold;
            margin-right:10px;
        }
    }
}


.element_description{
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     width:55%;

}

